.header {
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background);
    left: 0;
    width: 100%;
    position: sticky;
    top: 0;
    transition: var(--header-transition);
    z-index: 1;
  }
  
  .navbar {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }

  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 16px;
    padding-right: 15px;
    padding-left: 15px;
    /* margin: 15px; */
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  }

  .slideUp {
    transform: translateY(-100%);
  }
  
  .logoHeader {
    flex: 1;
    position: relative;
    z-index: 1;

  }
  
  .logoHeader svg {
    width: 150px;
  }
    
  .navMenu {
    background-color: var(--background);
    display: flex;
    justify-content: center;
  }
  
  .navMenu ul {
    padding: 40px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    list-style: '';
  }
    
  .navLink {
    color: var(--text-primary);
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 14px;
  }
  
  .navLink:hover,
  .navLink:focus {
    color: var(--text-hover)
  }
  
  .navLink::after {
    content: "";
    height: 2px;
    width: 100%;
    display: block;
    /* background: #f88f40;; */
    opacity: 0;
    transition: all 0.2s;
  }
  
  .navLink:hover::after {
    opacity: 1;
  }
  
  @media only screen and (max-width: 800px) {
    .navMenu {
      position: absolute;
      width: 100%;
      top: 100%;
      right: 0;
      transform: translate3d(0, -100%, 0);
      will-change: transform;
    }
  
    .navMenuOpen {
      transform: translate3d(0, 0, 0);
      box-shadow: var(--text-primary) 0px -3px 10px 1px;
    }
  
    .headerContainer::after {
      content: '';
      position: absolute;
      inset: 0;
      background-color: var(--background);
    }
  }
  
  @media only screen and (min-width: 800px) {
    .navMenu ul {
      padding: 0px;
      flex-direction: row;
    }
  }

  @media only screen and (min-width: 1200px) {
    .navLink {
      font-size: 16px;
    }
  } 