.peopleContainer {
  justify-items: flex-start;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media only screen and (min-width: 768px) {
  .card {
    flex-direction: row;
    align-items: center;
  }
}

.circle {
  object-fit: cover;
  position: absolute;
  inset: 0;
  object-position: center;
}

@media only screen and (max-width: 768px) { 
  .cardText {
  padding-left: 24px;
}
}

.imageFigure {
  margin: 0;
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 100%;
  max-width: 250px;
  aspect-ratio: 1 / 1;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

@media only screen and (min-width: 768px) {
  .imageFigure {
    max-width: 200px;
  }
}

.name {
  font-size: 18px;
}

.CV {
  margin-top: 10px;
}
