.peopleContainer {
  justify-items: flex-start;
}

.card {
  display: flex;
  align-items: center;
}

.circle {
  object-fit: cover;
  position: absolute;
  inset: 0;
  object-position: center;
}

.imageFigure {
  margin: 0;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  text-decoration: none;
  width: 250px;
  aspect-ratio: 1 / 1;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.cardText {
  padding-left: 25px;
}

.CV {
  margin-top: 10px;
}
