.footerContainer {
  background-color: var(--background-secondary);
  margin-top: 72px;
}

.logoFooterContainer {
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .logoFooterContainer {
    flex-direction: row;
    align-items: center;
  }
}
.logosWrap {
  display: flex;
}

.logoFooter svg {
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  .logoFooterContainer {
    display: flex;
  }
}