.footerWrap {
  background-color: var(--background-secondary);
}

.footerContainer {
  margin-left: auto;
  margin-right: auto;
  /* color: var(--background); */
  max-width: 1200px;
  padding: 24px;
}

.logoFooterContainer {
  display: flex;
  /* padding-top: 20px; */
} 

 .logoFooter {
  width: 200px;
  fill: var(--background);
  flex: 0 0 auto;
} 

.footerBlock {
  padding-top: 20px;
  list-style-type: none;
  font-size: 14px;
}

.listItem {
  padding-bottom: 15px;
  line-height: 20px;
}

.footerHeader {
  font-size: 14px;
  padding-bottom: 10px;
}

.footerLink {
  color: var(--text-primary);
  text-decoration: none;
}

.locationWrap {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.locationPin {
  /* fill: var(--background); */
  flex: 0 0 auto;
}

/* .copyrightsContainer {
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  color: var(--background);
  padding-left: 25px;
  padding-right: 25px;
  max-width: 1650px;
} */

/* .footerDivider {
  padding-top: 40px;
  border-width: 0px 0px thin;
  border-style: solid;
} */

/* .copyright {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 12px;
} */

@media only screen and (min-width: 768px) {
  .footerContainer {
    display: flex;
    justify-content: space-between;
  }

  .footerBlock {
    padding-right: 20px;
  }

  .copyright {
    font-size: 13px;
  }
}

@media only screen and (max-width: 1000px) {
  .footerLink:hover { 
    text-decoration: underline;
    text-underline-offset: 5px;
  }
}