.navButton {
    display: none;
    position: relative;
    z-index: 1;
    background-color: transparent;
    border: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--background-secondary)
}

 @media only screen and (max-width: 800px) {    
    .navButton {
        display: block;
        cursor: pointer;
        padding-top: 28px;
    }
    
    /*Button animation*/
    .navButton.active .bar:nth-child(2){
        opacity: 0;
    }

    .navButtonactive .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .navButton.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
 } 
