   
  .contactSub {
    font-size: 18px;
  }

  .contactInfo {
    padding-top: 8px;
    margin-bottom: 20px;
    display: inline-block;

  }

  .mediaContainer {
    padding-top: 8px;
    margin-bottom: 20px;
  }

  .mediaWrap {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .addressInfo {
    font-size: 16px;
  }