.fundingItem {
  background-color: #f9f9f9;
  padding: 16px;
  margin-bottom: 24px;
  border-radius: 8px;
  display: grid;
  gap: 24px;
 
}

@media only screen and (min-width: 768px) {
  .fundingItem {
   grid-template-columns: 3fr 1fr;
   padding: 24px;
  }
}


.logoWrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.fundersLogo {
  max-width: 150px;
}