* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 18px;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.flex {
  display: flex;
}

/* pending html tag in layout? */
/* html {
  scroll-behavior: smooth;
} */

/* .title {
  margin-bottom: 24px;
  display: block;
  color: var(--text-primary);
} */

.container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 70px;
}

.header {
  letter-spacing: 1px;
  padding-bottom: 25px;
}

.subHeader {
    letter-spacing: 1px;
    padding-bottom: 15px;
  }

/* Theme */
:root {
  --background: #fff;
  --background-secondary: #f5f5f5;
  --text-primary: black;
  --header-transition: transform 360ms cubic-bezier(0.4, 0, 0.2, 1);
  /* --text-hover: #c5b2a3; */
  --text-hover: #3e9dca;
  --url-color: #0070f3;
}

@media only screen and (min-width: 768px) {
  .container {
    padding-left: 70px;
    padding-right: 70px;
  }
}

/* Underline */
.underline-hover-effect {
  position: relative;
}

.underline-hover-effect::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: var(--text-primary);
  transition: width 0.25s ease-out;
}

.underline-hover-effect:hover::before {
  width: 100%;
}