.card {
  width: 100%;
  overflow: hidden;
  background-color: #f9f9f9;
  padding: 32px;
  margin-bottom: 24px;
  border-radius: 8px;
}

.title {
  font-size: 1.25rem;
  margin: 0 0 12px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date {
  font-size: 1rem;
  margin-bottom: 10px;
}

.padding {
  padding: 32px;
}

.text {
  font-size: 0.95rem;
  color: #555;
  line-height: 1.875;
}

.imageWrapper {
  max-width: 100%; /* or any consistent width */
  margin-bottom: 16px;
}

/* 👇 Portrait image — adjust as needed */
.portrait .image {
  width: auto;
  height: 95%;
  object-fit: contain;
}

/* 👇 Landscape image — default styling can apply */
.landscape .image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

@media only screen and (max-width: 1024px) { 
  .card{
 width: 100%;
}
  /* .padding{
 width: 20px;
} */
}
