.hr {
    width: 100%;       
    margin: auto; 
    border: none;       
    height: 1px;       
    background-color: #ccc; 
    border-radius: 5px; 
    margin-top: 72px;
}

.joinUsContainer {
    padding-top: 30px;
    border-radius: 10px;
    margin: 0 auto;
  }
  
  .joinUsContainer h2 {
    font-size: 1.8rem;
    color: var(--dark-grey);
    margin-bottom: 15px;
    font-weight: 700;
    letter-spacing: 1px;
  }

  .joinUsContainer p:last-child {
    margin-top: 10px;
  }
  
  .peopleContainer {
    display: grid;
    gap: 48px;
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 1024px) {
    .peopleContainer{
      grid-template-columns: 1fr;
    }
  }