.publicationItem {
  background-color: #f9f9f9;
  padding: 16px;
  margin-bottom: 24px;
  border-radius: 8px;
}

@media only screen and (min-width: 768px) {
  .publicationItem {
   padding: 24px;
  }

  .subTitle {
    display: flex;
    align-items: center;
  }

  .link {
    padding-left: 6px;
  }
}

.publicationItem a {
  color: var(--url-color);
  text-decoration: none;
}

.publicationItem a:hover {
  text-decoration: underline;
}

.link {
  color: var(--url-color);
  text-decoration: none;
}

