.aboutContainer {
    
   
  }
    
  .aboutText {
    margin-bottom: 10px;
  }
  
  
  .aboutImage {
    border-radius: 24px;
  }

  .imageWrap {
    margin-top: 48px;
  }
  
  @media only screen and (min-width: 1200px) {
    
  }
  